h2 {
    /* color: rgb(255,255,255); */
    /* color: rgb(0,0,0); */
    /* color: rgb(120,0,120); */
    /* color: rgb(209, 4, 161); */
    /* color: #000000; */
    /* color: #ffff00; */
    /* color: #0000ff; */
    /* color: #ff00ff; */
    /* color: #ffffff;
    background-color: #000000; */
    color: #fff;
    /* background-color: #000; */
    background-color: #18ba1b;
    /* background-color: rgb(0,0,0); */
}